chain :
{
  output_path : '/work/scratch/data/menezt/output_iota2/my_config_v6/'
  remove_output_path : True
  nomenclature_path : '/home/mp/menezt/IOTA2/config_iota2/Config/Class/nomenclature.txt'
  list_tile : 'T47QRB'
  s2_path : '/work/CESBIO/projects/OSO/dinbuam/DATA/input_iota2/5m/2023/'
  #s2_output_path : '/work/scratch/data/menezt/'
  ground_truth : '/home/mp/menezt/IOTA2/config_iota2/my_config_v6/vector/SamplesAll_Rep.shp'
  data_field : 'code'
  spatial_resolution : 5
  cloud_threshold : 1
  color_table : '/home/mp/menezt/IOTA2/config_iota2/Config/Class/colors.txt'
  proj : 'EPSG:32647'
  first_step: 'init'
  last_step: 'validation'
  user_feat_path : '/work/CESBIO/projects/OSO/dinbuam/DATA/input_iota2/features/'
}

slurm:
{
account : 'cesbio'
}

iota2_feature_extraction :
{
  'extract_bands':False,
}

arg_train :
{
  classifier : 'sharkrf'
  runs : 10
  random_seed : 1
  ratio : 0.7
  dempster_shafer_sar_opt_fusion : False 
  otb_classifier_options : {
      'classifier.rf.max': 100,'classifier.rf.min': 10,'classifier.rf.nbtrees': 200
      }
  sample_selection: {
      'sampler': 'random',
      'strategy': 'byclass',
      'strategy.byclass.in': '/home/mp/menezt/IOTA2/config_iota2/Config/Class/ClassCSV.csv'
      }
}

arg_classification :
{
  merge_final_classifications : True
  merge_final_classifications_method : 'dempstershafer'
  merge_final_classifications_undecidedlabel : 255
  fusionofclassification_all_samples_validation : False
  dempstershafer_mob : 'precision'
  merge_final_classifications_ratio : 0.1
  keep_runs_results : True
    
  classif_mode : 'separate'
  enable_probability_map : True
}

task_retry_limits:
{
    allowed_retry : 2
    maximum_ram : 1024.0
    maximum_cpu : 160
}

sensors_data_interpolation :
{
  use_gapfilling : True
  write_outputs : False
}

Sentinel2:
{
  temporal_resolution : 20
}

userFeat:
{
  arbo : '/*'
  patterns : 'Hyper'
}

python_data_managing:
{
  chunk_size_mode : 'split_number'
  number_of_chunks : 50
}
